# from cmd/
ac
accton
at
atrun
col
comm
clear
cron
crypt
dc
dd
deroff
diff
diff3
diffh
ed
fsh
join
look
makekey
mesg
newgrp
pg
pr
ptx
rev
split
su
sum
test
time
tsort
tty
wall
# from cmd/sh/
cmd/sh/sh
# from games/
arithmetic
backgammon
fish
wump
