# Executables
chmem
elf2aout
fsck
fsck400
mkfs
mkfs400
mkftl
sethint
size
ucp
# Disk images
filesystem-src/fuzix.dsk
filesystem-src/fuzixfs.dsk
# Temporary file from running build-filesystem-ng
filesystem-src/ucp-tmp.txt
