adv01
adv02
adv03
adv04
adv05
adv06
adv07
adv08
adv09
adv10
adv11
adv12
adv13
adv14a
adv14b
fortune
fortune-gen
fortune-gen-linux
fortune.dat
myst01
myst02
myst03
myst04
myst05
myst06
myst07
myst08
myst09
myst10
myst11
ppt
qrun
z[0-8]
taylormade
startrek
l9h
l9x
hamurabi
dopewars
cowsay
advint
