Configuration:

32K ROM that can be swapped out is required as per the -128 system, but the
same ought to work if fitted to any other machine. The ability to map out
the video and monitor ROM is not required except for large kernels if you
turn on lots of features.

Any keyboard should work. The kernel uses the ROM monitor inkey functions to
watch for a key down and then for it going up again. If a tick is available
the keyboard is polled ten times a second plus when idle, if not then it
will only respond when idle (no keyboard interrupt, no timer interrupt).

FIXME: we could and should poll every time we do a syscall and 1/10th has
passed but that requires a small core Fuzix change I think.

Video is set to the standard 32x32 video or the Poppe 64x32 video.

Storage can be any of GIDE, a bitbang SD card on the user port (untested) or
the ramdiscs. Floppy is not yet supported. In practice ramdisc alone is
going to be insufficient.

The system needs somewhere for swap. It can use a ramdisc for this or
failing that you can use GIDE and it will look for a swap partition on the
disc.

Finally it needs a timer or clock or both. If it has a timer it will use the
timer interrupt to manage time, keyboard etc. If it only has an RTC it will
track the RTC time when idle or during system calls to provide some level
of multitasking. If it has both it will use the tick, but will use the RTC
as an aid to keeping good time.

Unsupported:

Anything less than 64K RAM
Anything without the pageable ROM
Using both banks on the -128. That would be an entirely different and
	better kernel option but would require suitable emulation existed
	(Fuzix has the core Z80 support for systems where all RAM switches
	 at once)
Floppy controller
KCNet (not enough space, maybe would work for a -128 with both banks only)
Printer
K1520 (no sound support in Fuzix yet, CTC side can be used)
Joystick

Configuration Settings:

CONFIG_TD_IDE		Enables GIDE at 0x40-0x4F
CONFIG_TD_SD		Enabies bitbang SD on the I/O port bits 7-4
			using a typical 5v SD adapter
CONFIG_RD_SWAP		Use the 0x58-0x5F RAM disc for swapping
CONFIG_PIO_TICK		Use bit 3 of the user port as a 10Hz timer input

CONFIG_JKCEMU		Enable emulator workarounds
CONFIG_VIDEO_POPPE	64 x 32 video (see Video section)
CONFIG_RTC_70		7242 at 0x70 (as opposed to on the GIDE)
CONFIG_K1520_SOUND	Use the sound card CTC for timer interrupts

The minimum required support is

- An RTC with seconds (GIDE or 7242 at 0x70) or a timer
- Either IDE or RD_SWAP so that there is a usable swap device (SD is too
  slow)

The following port 4 assignments are assumed

6:	set (4MHz mode)
5:	page the 32K ROM in and out
4:	page the OS ROM and video in and out

If bit 6 and bit 4 do nothing then the system will work fine. If OS ROM and
video page out is not supported or you are using the Poppe style video then
you must ensure the kernel fits below 0xE7FF (check the display or
Kernel/fuzix.map). This is not a problem unless you try and turn too many
things on at once. With standard video and OS ROM and video pageout you can
go to 0xFFFF. (In theory with Poppe video in this case you could pack an
extra segment at 0xF000-FFFF in ROM if you were desperate)

Video

Choice of 32x32 standard video or Poppe video (64 x 32). The Poppe video is
fairly basic right now (colour is not dealt with).

To switch this as well as the define you need to switch between video.s and
video-poppe.s in fuzix.lnk and Makefile. This is a FIXME to automatically
handle.
